# maven ignore
target/
*.war
*.zip
*.tar
*.tar.gz

# eclipse ignore
.settings/
.project
.classpath
.springBeans

# IntelliJ ignore
*.iml
*.ipr
*.iws
**/.idea/
.idea/
out/

# temp ignore
*.log
*.cache
*.diff
*.patch
*.tmp

# system ignore
.DS_Store
Thumbs.db

*.factorypath

/.apt_generated/

# maven version
pom.xml.versionsBackup

**/overlays/

node_modules/
dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
**/*.log

tests/**/coverage/
tests/e2e/reports
selenium-debug.log

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.local

package-lock.json
yarn.lock

.VSCodeCounter/

